.Predict-page {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
  }

.Predict-header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  
}